#main_body{
  align-self: right;
  width: 100%;
  height: 100%;
  border: 10px solid black;
  /*background-image: url(../images/cobble.jpg);*/
}
#title{
  font-size:100%;
}
#play_body{
  padding-left: 20px;
  position: relative;
}

.box{
  position: absolute;
  border: 10px solid aqua;
  width:20px;
  height:20px;
  top: 80px;
  left: 80px;
  background-color: aqua;
}
.square{  
  position: fixed;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: #fff;
}